version: '3'
services:
# Redis Service
  redis:
    image: redis:3.2
    ports:
      - '6379:6379'
# posgres Service
  postgres:
    image: 'postgres:latest'
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=conversion
    ports:
      - '5432:5432'
# Django or some framework APP
  app: &falcon
    build:
      context: ../../
      dockerfile: docker/local/Dockerfile
    image: config
    depends_on:
      - redis
      - postgres
    env_file:
      - ../../.env
    ports:
      - "8001:8001"
    command: /flask_start
# Celery service
  celery:
    build:
      context: ../../
      dockerfile: docker/local/Dockerfile
    command: celery -A core.celery worker --beat --loglevel=info
    depends_on:
      - redis
    env_file:
      - ../../.env
volumes:
  postgres_data:
    driver: local
  redis-data:
    driver: local
